* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;/*para que la imagen se despliegue en toda la pantalla*/
}

body {
	background: url(../img/fondo2.jpg);
	background-size: cover;
	background-attachment: fixed;

}

.form-contenedor {
	position: relative;
	border: 1px solid green;
	background: rgba(0,0,0,.3);
	width:400px;
	height:450px;
	color:#F5F0EF;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 450px;
}

.form-contenedor .toggle {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 100px;
	height: 30px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-top: 2px solid #48f439;
	border-bottom: 2px solid #48f439;
	transition: all .10s ease;
	cursor: pointer;
}

.form-contenedor .toggle span {
	letter-spacing: 1px;
}

.form-contenedor .toggle:hover {
	border-top: 2px solid #0075d9;
	border-bottom: 2px solid #0075d9;
}

.form-contenedor .toggle2 {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 80px;
	height: 30px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-top: 2px solid #48f439;
	border-bottom: 2px solid #48f439;
	transition: all .10s ease;
	cursor: pointer;
}

.form-contenedor .toggle2 span {
	letter-spacing: 1px;
}

.form-contenedor .toggle2:hover {
	border-top: 2px solid #0075d9;
	border-bottom: 2px solid #0075d9;
}

.form-contenedor label {
	outline: none;
	background: rgba(0,0,0,.5);
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #48f439;
	font-size: 14px;
	font-weight: normal;
	margin: 20px 20px 20px 0px;
	transition: all .10s ease;
}


.form-contenedor select {
	outline: none;
	background: rgba(0,0,0,.5);
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #48f439;
	font-size: 14px;
	font-weight: normal;
	margin: 20px 20px 20px 0px;
	transition: all .10s ease;
}

.form-contenedor label:focus,
.form-contenedor select:focus {
	border-bottom: 4px solid #0075d9;
}


.form-contenedor table {
	border-style: 20px solid green;
	line-height: 1;
	margin: 20px 20px 10px 10px;
}

.form-contenedor h2 {
	margin: 0 0 28px 5px;
	font-size: 20px;
	font-weight: 400px;
	line-height: 1;
}

.form-contenedor h3 {
	margin: 0 0 28px 5px;
	font-size: 20px;
	font-weight: 400px;
	line-height: 2;
}


.form-contenedor input[type="submit"] {
	background: #48f439;
	color: #fff;
	border: black solid;
	border-radius: 5px;
	width: 50%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all .10s ease;
	margin: 35px 0px 0px 0px;
}

.form-contenedor input[type="submit"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[type="text"] {

	width: 50%;
	padding: 5px 0;
	letter-spacing: 1px;
	margin: 5px 0px 20px 10px;
}


.form-contenedor input[type="number"] {

	width: 50%;
	padding: 5px 0;
	letter-spacing: 1px;
	margin: 5px 0px 0px 10px;
}


.form-contenedor input[value="Transferir"] {
	background: #48f439;
	color: #fff;
	border: black solid;
	border-radius: 5px;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all .10s ease;
	margin: 80px 0px 0px 0px;
}

.form-contenedor input[value="Transferir"]:hover {
	background: rgba(0,117,217,0.7);
}



.form-contenedor input[value="Realizar-Transferencia"] {
	background: #48f439;
	color: #fff;
	border: black solid;
	border-radius: 5px;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all .10s ease;
	margin: 44px 0px 0px 0px;
}

.form-contenedor input[value="Realizar-Transferencia"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[value="Ir a la pantalla de inicio"] {
	background: #48f439;
	color: #fff;
	border: black solid;
	border-radius: 5px;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all .10s ease;
	margin: 36px 0px 0px 0px;
}

.form-contenedor input[value="Ir a la pantalla de inicio"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[type="button"] {
	background: #48f439;
	color: #fff;
	border: solid black;
	width: 50%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin:38px 0px 0px 0px;
	border-radius: 5px;
}

.form-contenedor input[type="button"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[id="btnEC"] {
	background: #48f439;
	color: #fff;
	border: solid black;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin:82px 0px 0px 0px;
	border-radius: 5px;
}

.form-contenedor input[id="btnEC"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[id="btnTransferencia"] {
	background: #48f439;
	color: #fff;
	border: solid black;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin:46px 0px 0px 0px;
	border-radius: 5px;
}

.form-contenedor input[id="btnTransferencia"]:hover {
	background: rgba(0,117,217,0.7);
}

.form-contenedor input[id="btnTransExitosa"] {
	background: #48f439;
	color: #fff;
	border: solid black;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
	margin:38px 0px 0px 0px;
	border-radius: 5px;
}

.form-contenedor input[id="btnTransExitosa"]:hover {
	background: rgba(0,117,217,0.7);
}
