* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;/*para que la imagen se despliegue en toda la pantalla*/
}

body {
	background: url(../img/fondo1.jpg);
	background-size: cover;
	background-attachment: fixed;

}


.contenedor-form {
	position: relative;
	background: rgba(0,0,0,.7);/*para poner fondo con transparencias*/
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	color: #fff;
	border-radius: 5px;
	/*padding: 40px;*/
}

.contenedor-form .toggle {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 100px;
	height: 30px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-top: 2px solid #48f439;
	border-bottom: 2px solid #48f439;
	transition: all .10s ease;
	cursor: pointer;
}

.contenedor-form .toggle span {
	letter-spacing: 1px;
}

.contenedor-form .toggle:hover {
	border-top: 2px solid #0075d9;
	border-bottom: 2px solid #0075d9;
}

.contenedor-form h2 {
	margin: 0 0 28px 0;
	font-size: 20px;
	font-weight: 400px;
	line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form input[type="number"]{
	outline: none;
	background: rgba(0,0,0,.5);
	display: block;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 2px;
	border-bottom: 4px solid #48f439;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	transition: all .10s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
	border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="button"] {
	background: #48f439;
	color: #fff;
	border: none;
	width: 100%;
	padding: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.contenedor-form input[type="button"]:hover {
	background: rgba(0,117,217,0.7);
}

.contenedor-form .reset-password {
	background: rgba(0,117,217,0.7);
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.contenedor-form .reset-password a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.contenedor-form .formulario {/*oculta el formulario*/
	padding: 40px;
	display: none;
}

.contenedor-form .formulario:nth-child(2) {/*No deja mostrar el formulario 2*/
	display: block;
}


.contenedor-form .formulario3 {/*oculta el formulario*/
	padding: 40px;

}

.contenedor-form .formulario a{/*oculta el formulario*/
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}	
